button,
button:active,
button:focus  {
  border:none;
}
@font-face {
    font-family: 'JakArta-';
    src: url(./fonts/JakArta-.otf);
    
}
@font-face {
    font-family: 'DOCALLISME';
    src: url(./fonts/DOCALLISME.otf);
}
@font-face {
    font-family: 'KEWAY';
    src: url(./fonts/KEWAY.otf);
}
@font-face {
    font-family: 'Night';
    src: url(./fonts/Night.ttf);
}
body{
    background-image: url(./img/image\ 1.jpg);
    transition: all .8s;
    list-style-type: none;
    align-items: center;
    
}
@font-face {
    font-family:'Sunny' ;
    src: url(./fonts/Sunny.otf);
}
@font-face {
    font-family:'Adripping' ;
    src: url(./fonts/Adripping.ttf);
}
.main.text{
    

}
.logo{
    font-family: 'DOCALLISME';
    font-size: 95px;
    display: flex;
    justify-content: center;
    background: url(./img/9.jpg) ;
    color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s infinite linear;
}
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* .logo{
    display: flex;
    margin: 20px;
    justify-content: center;
    padding-left: 30px;
    
    
} */

.menu{
    display: flex;
    background-color: #1E1E1E;
    width: 1920px;
    height: 80px;
    font-family: 'Adripping', cursive;
}
.catalog{
    display: flex;
    width: 70px;
    padding-left: 35px;
    
    
}
.container{
    padding-top: 5px;
    display: flex;
    font-size: 50px;
    list-style-type: none;
    align-items: center;
    justify-content: space-around ;
    width: 1650px;
    text-transform: uppercase;
    

}

a{
    color: white ;
    text-decoration: none;
    position: relative;
    
   
   
}
a::after{
    position: absolute;
    border-bottom: 4px solid white;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform.6s;
}
a:hover::after{
    transform: scaleX(1);
}
.button.header.favorite{
    display: flex;

}
.button.header.cart{
    display: flex;
    width: 40px;
}
.header.button.catalog{
    display: flex;

}
button{
    background-color: #1E1E1E
}
.favorite{
    display: flex;
    width: 40px;
    padding-top: 15px;

}
.cart{
    display: flex;
    width: 40px;
    padding-top: 17px;
}
.button.shop{
    display: flex;
    width: 40px;
}
@keyframes animate{
    from{
        background-position:0 0 ;
    }
    to{
        background-position:100% 100%;
    }
    
}




